body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  background: #262626;
  box-sizing: border-box;
}

header .logo {
  float: left;
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  display: block;
  text-decoration: none;
}

header nav ul li a:hover,
header nav ul li.active a {
  color: #000;
  background: #64b4ec;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }

  header nav {
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 50px);
    background: #333;
    transition: .5s;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li {
    border-bottom: solid 1px rgba(0, 0, 0, .2);
  }

  .menu-toggle {
    display: block;
  }
}
