* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111;
}

input[type="checkbox"] {
    position: relative;
    width: 120px;
    height: 40px;
    margin: 10px;
    outline: none;
    background-color: #111;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 20px;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, 0.1),
                5px 5px 10px rgba(0, 0, 0, 1),
                inset -2px -2px 5px rgba(255, 255, 255, 0.1),
                inset 2px 2px 5px rgba(0, 0, 0, 1),
                0 0 0 2px #2f2f2f;
    transition: .5s;
}

input[type="checkbox"]:checked {
    background-color: #20b7ff;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    background: linear-gradient(to top, #000, #555);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: .5s;
}

input[type="checkbox"]:checked::before {
    left: 40px;
}

input[type="checkbox"]::after {
    content: '';
    position: absolute;
    left: 65px;
    top: calc(50% - 2px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #555;
    transition: .5s;
}

input[type="checkbox"]:checked::after {
    left: calc(65px + 40px);
    background-color: #20b7ff;
    box-shadow: 0 0 5px #63cdff,
                0 0 15px #63cdff,
                0 0 30px #63cdff;
}