*, *:before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border: solid 1px #ccc;
}

th {
    background: #000;
    color: #fff;
}

tr:nth-child(odd) {
    background: #eee;
}


@media screen and (max-width: 700px) {
    .table-responsive table,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive tr,
    .table-responsive th,
    .table-responsive td {
        display: block;
    }

    .table-responsive thead {
        display: none;
    }

    .table-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px; /* to remove the duplicated border */
        background: #fff;
    }

    .table-responsive td:nth-child(odd) {
        background: #eee;
    }

    .table-responsive td:before {
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 130px;
        background: #000;
        color: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    .table-responsive tr {
        margin-bottom: 1rem;
    }
}