body {
    margin: 0;
    padding: 0;
    background-color: #d39639;
    padding: 50px;
}

.item {
    background: #fff;
    margin: 40px 10px;
    transition: transform .3s;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 15px 35px #323232, 0 5px 15px #000000;
}

.item:hover {
    transform: translate3d(0, -1px, 0);
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

.item__body {
    padding: 25px;
}

.item__title {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #585858;
}


/* Carousel */

.carousel {
    position: relative;

}

.carousel::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel__item {
    float: left;
}

.carousel__next, .carousel__prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    background: url("arrow.png") center center no-repeat;
    border-radius: 50%;
    background-size: 25px;
    border: solid 1px #000;
    background-color: #fff;
    transition: transform 0.3s;
    cursor: pointer;
}

.carousel__prev {
    left: 0;
    transform: translateY(-50%) rotate(-90deg) scale(0.95);
}

.carousel__next {
    right: 0;
    transform: translateY(-50%) rotate(90deg) scale(0.95);
}

.carousel__prev:hover {
    transform: translateY(-50%) rotate(-90deg) scale(1);
}

.carousel__next:hover {
    transform: translateY(-50%) rotate(90deg) scale(1);
}

.carousel__prev__hidden, .carousel__next__hidden {
    display: none;
}